---
layout: default
title : Homepage
navbar_name: Home
num_selected: 10
---
{% include widgets/profile_card.html %}

{% include widgets/experience_card.html %}

{% assign pubs = site.publications | sort: "date" | reverse | where: "selected", true %}
{% 
    include widgets/publication_card.html 
    publications=pubs limit=page.num_selected 
    title='<i class="fas fa-star"></i> Selected Publications'
%}

<a href="https://info.flagcounter.com/iLUW"><img src="https://s01.flagcounter.com/count2/iLUW/bg_FFFFFF/txt_000000/border_CCCCCC/columns_5/maxflags_20/viewers_0/labels_0/pageviews_1/flags_0/percent_0/" alt="Flag Counter" border="0"></a>